## ✅ Project Requirements

**Best Use of The Graph (New or Existing Subgraph or Substream)**

1. Link to the deployed subgraph/substream
2. Link to the source code
3. The project should be using data indexed and queried using the subgraph/substream

## 🔍 Judging Criteria

Judges grade all projects on six main criteria described below. All criteria are listed in the order of most weightage to least:

1. **Technical Implementation:** This criteria evaluates the skilful execution of The Graph protocol within the project. Judges will closely examine how effectively the subgraph has been utilized to gather and present data. A project that demonstrates a deep understanding of the protocol's technical intricacies and implements it seamlessly will receive higher scores.
2. **Design:** Quality of the dapp user interface and user experience (UI/UX) of the decentralized application (dapp) are pivotal to its success. Judges will assess the design's aesthetics, intuitiveness, and overall usability. A well-designed dapp not only attracts users but also enhances their interaction with the platform, making it a key factor in the evaluation process.
3. **Quality of Idea:** Quality of the idea/use-case/problem statement. A project that introduces a novel solution or tackles a previously unaddressed problem will be favorably regarded. Judges will consider how innovative and relevant the idea is to the blockchain and decentralized technology landscape.
4. **Impact on Ecosystem:** Impact on society/community/target audience will be assessed here. Judges will weigh the positive changes the project brings to its ecosystem and the potential benefits it offers to its users. Projects that foster community growth, contribute to the advancement of decentralized technologies, or solve real-world problems will excel in this criteria.
5. **Project Sustainability:** The quality of the project's documentation, roadmap, and long-term viability will be analyzed. Judges will scrutinize the clarity and comprehensiveness of the project's documentation, ensuring that it facilitates seamless understanding and collaboration. A well-structured roadmap that outlines future development stages and potential challenges will further enhance a project's appeal.
6. **Vision Alignment:** Holistic approach and vision alignment with the principles of decentralization. Judges will evaluate whether the project's objectives and approach resonate with the ethos of decentralization, blockchain technology, and fostering a more open and inclusive digital ecosystem.